@model MvcCarSalesSite.Models.EditProfile

@{
    ViewBag.Title = "MyProfile";
}

<div class="container">
    <br />

    <div class="row">
        <div class="col-md-3">
            <br />
            <!--filtreleme kısım--> <!--Layout-->
            @Html.Action("FilterPartial", "Home")
        </div>

        <div class="col-md-9">
            <!--bootstrap -> components -> breadcumb -> ortadaki kod kısmı-->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Home/Index/">Ana Sayfa</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Profil Güncelleme</li>
                </ol>
            </nav>
            <div class="img-thumbnail">
                <br />
                @using (Html.BeginForm("MyProfile", "Account", FormMethod.Post, new { @class = "row" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x=>x.EditProfileID)
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Adı</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(x => x.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Soyadı</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(x => x.Surname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.Surname, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Kullanıcı Adı</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(x => x.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-outline-primary col-6"><i class="bi bi-pencil"></i> Güncelle</button>
                            Ya da <a href="/Account/ChangePass/">Şifre Değiştir</a>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>